#concert {
    margin-top: 5%;
    display: flex;
    max-width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
}

#concert .display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    border-radius: 30px;
}

#concert #ot {
    background-color: #7272e5;
    box-shadow: -1px 2px 61px 33px rgba(114,114,229,0.75);
-webkit-box-shadow: -1px 2px 61px 33px rgba(114,114,229,0.75);
-moz-box-shadow: -1px 2px 61px 33px rgba(114,114,229,0.75);
}

#concert #ct {
    background-color: rgb(44, 12, 63);
    box-shadow: -1px 2px 61px 33px rgba(44,12,63,0.75);
-webkit-box-shadow: -1px 2px 61px 33px rgba(44,12,63,0.75);
-moz-box-shadow: -1px 2px 61px 33px rgba(44,12,63,0.75);
}

#concert .img {
    height: 300px;
    width: 500px;
    background-color: transparent;
}

#concert #artis-close {
    background-image: url(assets/profile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#concert #artis-open {
    background-image: url(assets/profile.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

