body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.header {
  background-color: #e7d5d599;
  color: white;
  padding: 15px 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.brand {
  font-size: 1.5rem;
  margin-left: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: #e7d5d599;
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: 250px;
  text-align: left;
  padding-top: 60px;
  transition: right 0.3s ease;
}

nav.active {
  right: 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

.burger {
  position: relative;
  width: 40px;
  height: 30px;
  background: transparent;
  cursor: pointer;
  display: block;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 100%;
  left: 0;
  transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-100%);
}

.burger input:checked ~ span {
  width: 0%;
  opacity: 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e7d5d599;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #e7d5d5dc;
}

#disco {
  width: 40px;
}

#wrapper {
  display: flex;
  width: 600vw; /* Adjust as needed */
  transition: transform 0.5s ease;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main {
  background: linear-gradient(135deg, rgba(18,223,72,1) 0%, rgba(9,121,90,1) 40%, rgba(6,78,92,1) 72%, rgba(6,52,61,1) 100%);
}

.vmenu {
  background: linear-gradient(322deg, rgba(236,68,43,1) 0%, rgba(179,132,43,1) 30%, rgba(66,191,15,1) 62%, rgba(14,61,6,1) 100%);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

html {
  scroll-behavior: smooth;
}
